<div style="
background: #33363b;
padding: 44px 0 24px;
text-align: center;
color: #efefef;
font-size: 13px;
">
    <footer>
        <p>Это электронное письмо было отправлено вам из колл-центра Сидены. <br>
            Если вы этого не ожидали, пожалуйста, игнорируйте.</p>
        <p>&#169; Сидена Все права защищены. <%= new Date().getFullYear() %> </p>

    </footer>
</div>

